<!-- * LIVE FEED PAGE  -->
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Proclaim: Live Feed</title>
</head>
<body> 
  <h1>💌 Live Feed 💌</h1>
  <% posts.forEach(post => { %>
    <a href="/posts/<%= post._id %> ">
    <div class="post">
      <img class="post-avatar"
        src="<%= post.author.avatar %>"
        alt="<%= post.author.name %> avatar"
      />  
      <div class="username"><%= post.author.name %></div>
      <div class="time"><%= post.time %></div>
      <div class="text-post"><%= post.text %></div>
    </div>
    </a>
  <% }) %>
  <a href="/posts/new"> <button class="add-post"> + </button> </a>
</body>
</html> 
<%- include('../partials/footer') %> 