<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <div class="outer-container">
      <div class="post">
        <img class="post-avatar" src="<%= post.author.avatar %>" alt="<%= post.author.name %> avatar" />
        <div class="username">
          <%= post.author.name %>
        </div>
        <div class="time">
          <%= new Date(post.time).toLocaleDateString('en-US', {day: 'numeric' , month:'numeric', year: 'numeric' }); %>
        </div>
        <% if (post.author.equals(user?.profile._id)) { %>

          <div>
            <form class="del-n-update" id="edit" action="/posts/<%= post._id %>?_method=PUT" method="POST">
              <textarea form="edit" class="edit-post" name="text" type="text"><%= post.text %></textarea>
              <form id="delete-button" class="del-n-update" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit"> ❌ Delete Post</button>
              </form>
              <button class="update-button" type="submit"> 🌷 Update</button>
            </form>
          </div>
          <% } else { %>
            <div class="post-text">
              <%= post.text %>
            </div>
            <% } %>
      </div>

      <hr class="horizontal-rule">

      <% if (post.comments.length===0 ) { %>
        <p>No comments yet. Say something nice!</p>
        <% } %>
          <% post.comments.forEach (comment=> { %>
            <div class="post">
              <img class="post-avatar" src="<%= comment.author.avatar %>" alt="<%= comment.author.name %> avatar" />
              <div class="username">
                <%= comment.author.name %>
              </div>
              <div class="time">
                <%= new Date(comment.time).toLocaleDateString('en-US', {day: 'numeric' , month:'numeric',
                  year: 'numeric' }); %>
              </div>
              <div class="post-text">
                <%= comment.text %>
              </div>
            </div>
            <% }) %>

              <hr class="horizontal-rule">

              <div class="post">
                <img class="post-avatar" src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
                <div class="username">
                  <%= user.profile.name %>
                </div>
                <div class="time">
                  <%= new Date(post.time).toLocaleDateString('en-US', {day: 'numeric' , month:'numeric', year: 'numeric'
                    }); %>
                </div>
                <div>
                  <form id='make-comment' action="/posts/<%= post._id %>" method="POST">
                    <!-- ! tell me WHY 9 months later i am just now figuring out that this would have been better with a TEXTAREA !!!?? -->
                    <textarea form='make-comment' class="comment-post" name="text" type="text"> </textarea>
                    <button class="btn-comment" type="submit">Add Comment</button>
                  </form>
                </div>
              </div>
    </div>

    <%- include('../partials/footer') %>