<!-- * INDIVIDUAL POST PAGE -->
<!-- * posts/:id -->
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Indiv Post</h1>

<div class="post">
  <img class="post-avatar"
    src="<%= user.profile.avatar %>"
    alt="<%= user.profile.name %> avatar"
  /> 
  <div class="username"><%= user.profile.name %></div>
  <div class="time"><%= post.time %></div>
  <!-- <div class="text-post"><%= post.text %></div> -->
  <!-- todo: edit this div of buttons to show if the user isSelf (reference: tacocat profiles/show.ejs) --> 
  <% if (post.author.equals(user?.profile._id)) { %> 
    <div> 
      <form action="" method="POST">
        <input class="edit-post" type="text" size="70px" value="<%= post.text %>">
      </form>
      <button class="btn-edit" type="submit"> Edit </button>
      <button class="btn-delete"> Delete </button>
    </div>
    <% } %>
</div> 

<a href="/posts"><button>Back</button></a>

<%- include('../partials/footer') %> 
