<!-- * INDIVIDUAL POST PAGE -->
<!-- * posts/:id -->
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Indiv Post</h1>
<% if (post.author.equals(user?.profile._id)) { %> 
<h1>Hey, <%= post.author.name %>! Here's your post: </h1>
<% } %> 

<a href="/posts"><button class="back"> Back</button></a>

<div class="post">
  <img class="post-avatar"
        src="<%= post.author.avatar %>"
        alt="<%= post.author.name %> avatar"
      />  
      <div class="username"><%= post.author.name %></div>
  <div class="time"><%= post.time %></div>
  <% if (post.author.equals(user?.profile._id)) { %> 
    <div> 
      <form 
      action="/posts/<%= post._id %>?_method=PUT" method="POST"> 
        <input class="edit-post" name="text" type="text" size="70px" value="<%= post.text %>">
        <button class="btn-edit" type="submit"> Save </button> 
      </form> 
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn-delete" type="submit">Delete</button>
      </form>
    </div>
    <% } else { %>
      <div class="text-post"><%= post.text %></div>
      <% } %> 
</div> 

<h1>Comments</h1>

<% post.comments.forEach (comment => { %>
  
<div class="post">
  <img class="post-avatar"
        src="<%= comment.author.avatar %>"
        alt="<%= comment.author.name %> avatar"
      />  
      <div class="username"><%= comment.author.name %></div>
  <div class="time"><%= comment.time %></div>
  <div class="time"><%= comment.time %></div>
  <div class="text-post"><%= comment.text %></div>
</div>
  
<% }) %>

<h1>Add a comment</h1> 

<div class="post">
  <img class="post-avatar"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />  
      <div class="username"><%= post.author.name %></div>
  <div class="time"><%= post.time %></div>
  <div>
    <form action="/posts/<%= post._id %>" method="POST"> 
    <input class="comment-post" name="text" type="text" size="70px">
    <button class="btn-comment" type="submit"> Add Comment </button> 
  </form> 
</div>
</div>

<%- include('../partials/footer') %> 